/**
  * @name RYZ Theme
  * @author ryzr3
  * @version RYZ V1
  * @description RYZ Theme For Discord
  * @authorId 852928138798956625
  * @authorLink https://guns.lol/ryz
  * @source https://github.com/DuckkingR/RYZ-Theme
  * @website https://guns.lol/ryz
  * @invite USQEzyJJch
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #292929;
  --darkplus-bg2: #393939;
  --darkplus-sec: #0099FF;
  --darkplus-links: #0099FF;
  --darkplus-home-icon: url(https://cdn.discordapp.com/avatars/852928138798956625/f15cd74660a8360c2539adf415b01c93.webp?size=1024&format=webp&width=0&height=204);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 0%;
  --watermark-filter-saturate: 0%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 0%;
  --watermark-filter-contrast: 70%;
  --darkplus-emoji-picker-color: 210deg;
}
